@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto-Regular.ttf");
}
@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto-Italic.ttf");
    font-style: italic;
}
@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

html {
    background-color: #F8F8F8;
    padding: 10px;
}

body, input, textarea, button {
  font-family: Roboto;
}

img {
    vertical-align: top;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

button, input, textarea, a {
    outline: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
button:active, input:active, textarea:active, a:active {
    border-style: none;
}

textarea.form-input {
    resize: vertical;
}

select.form-input {
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    cursor: pointer;
}

$color_grey_0: #FFFFFF;
$color_grey_1: #F8F8F8;
$color_grey_2: #EFEFEF;
$color_grey_3: #E8E8E8;
$color_grey_4: #E0E0E0;
$color_grey_5: #D8D8D8;
$color_grey_6: #D0D0D0;

$icon_radius: 45px;
$icon_radius_small: 30px;
$dialog_padding: 4px;

.table {
    width: 100%;
}
.row {
    width: 100%;
}
.cell {
    vertical-align: middle;
    text-align: center;
    border: 1px dashed #E0E0E0;
}

.input-checkbox {
    display: inline-block;
    width: auto !important;
    vertical-align: middle;
}
.label-checkbox {
    vertical-align: middle;
}
.input-checkbox,
.label-checkbox {
    cursor: pointer;
}

.label-checkbox.selected {
    text-decoration: underline;
}


#date-box {}
#date-box > .date-cell {
    display: inline-block;
    margin-right: 10px;
}

#app {
    text-align: center;
}
#app > #main-component {
    display: inline-block;
    width: 100%;
    max-width: 720px;
}

.as-icon {
    border: none;
    border-radius: 50%;
    width: $icon_radius;
    height: $icon_radius;
    margin: 0;
    padding: 0;
    background-color: $color_grey_4;
    cursor: pointer;
    transition: background-color .2s linear;
}
.as-icon:hover {
    background-color: $color_grey_2;
}
.as-icon.selected {
    background-color: $color_grey_0;
}
.as-selectable {
    border: none;
    background-color: $color_grey_4;
    cursor: pointer;
    transition: background-color .2s linear;
}
.as-selectable:hover {
    background-color: $color_grey_2;
}
.as-selectable.selected {
    background-color: $color_grey_0;
}
.as-icon.small-icon {
    width: $icon_radius_small;
    height: $icon_radius_small;
}

.as-icon.small-icon > .as-icon-image {
    width: $icon_radius_small - 10px;
    height: $icon_radius_small - 10px;
}

.as-list-item {
    font-size: 12px;
    padding: 8px;
}

.hours-panel {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}



.display-inline-block {
    display: inline-block !important;
}
.text-align-center {
    text-align: center !important;
}
.text-align-right {
    text-align: right !important;
}
.text-align-left {
    text-align: left !important;
}
.float-right {
    float: right !important;
}
.clear-both {
    clear: both !important;
}
.width-1-x100 {
    width: 1%;
}
.width-50-x100 {
    width: 50%;
}
.width-100-x100 {
    width: 100%;
}
.invisible {
    visibility: hidden;
}
.background-red {
    background-color: #FFCCBB;
}
.background-green {
    background-color: #CCFFBB;
}